

 



    <!--First banner-->
    <div class="relative isolate flex items-center gap-x-6 ml-1 overflow-hidden bg-gray-50 py-2.5 px-6 sm:px-3.5 sm:before:flex-1 border rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 577 310" aria-hidden="true" class="absolute top-1/2 left-[max(-7rem,calc(50%-52rem))] -z-10 w-[36.0625rem] -translate-y-1/2 transform-gpu blur-2xl">
        <path id="1d77c128-3ec1-4660-a7f6-26c7006705ad" fill="url(#49a52b64-16c6-4eb9-931b-8e24bf34e053)" fill-opacity=".3" d="m142.787 168.697-75.331 62.132L.016 88.702l142.771 79.995 135.671-111.9c-16.495 64.083-23.088 173.257 82.496 97.291C492.935 59.13 494.936-54.366 549.339 30.385c43.523 67.8 24.892 159.548 10.136 196.946l-128.493-95.28-36.628 177.599-251.567-140.953Z" />
        <defs>
          <linearGradient id="49a52b64-16c6-4eb9-931b-8e24bf34e053" x1="614.778" x2="-42.453" y1="26.617" y2="96.115" gradientUnits="userSpaceOnUse">
            <stop stop-color="#9089FC" />
            <stop offset="1" stop-color="#FF80B5" />
          </linearGradient>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 577 310" aria-hidden="true" class="absolute top-1/2 left-[max(45rem,calc(50%+8rem))] -z-10 w-[36.0625rem] -translate-y-1/2 transform-gpu blur-2xl">
        <use href="#1d77c128-3ec1-4660-a7f6-26c7006705ad" />
      </svg>
      <div class="flex flex-wrap items-center gap-y-2 gap-x-4">
        <p class="text-sm leading-6 text-gray-900">
          <strong class="font-semibold">GeneriCon 2023</strong><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Join us in RecruitMe from January 7 – 9 to see what’s coming next.
        </p>
        <a href="#" class="flex-none rounded-full bg-gray-900 py-1 px-3.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Register now <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="flex flex-1 justify-end">
        <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  
    <div class="flex">
      <div class="flex-initial w-2/4 ...">
         <div class="grid w-full flex-grow card rounded-box ml-6 mt-2  ">
            <div class=" w-full ml-1  rounded pb-3 " style="background-image: url('assets/images/vert (2).svg');">
                <div class="text-center justify-center  text-gray-700">
                    <div class="flex flex-wrap">
                      

                            <div class="w-full md:w-2/4  mb-10 md:mb-0">
                             <h3 class="mb-1 text-2xl mt-10 font-bold text-white">
                               
                                <span class="text-green-200">Welcome back,</span>
                                <span>Hachem! </span>
                               
                             </h3>
                             
                             <span class="mb-8 md:mb-16 text-sm font-medium text-indigo-100">New offers are wainting for you.</span>
                             <div  routerLink='/Dashboard/FindJob' class="flex flex-wrap gap-x-1 items-center ml-24 mt-1">
                              <span class="mb-1 text-white cursor-pointer">Explore more</span>
                              <button class=" text-gray-800 font-bold py-1 px-1 rounded-full inline-flex items-center">
                               <mat-icon class="icon ">arrow_right_alt</mat-icon>          
                           </button>
                             </div>
                             
                             <div class="flex flex-wrap gap-x-1 ml-3 mt-2">
                            
                              <span type="button" class="rounded-xl  text-sm bg-green-100  text-green-800 hover:bg-green-200 p-2 rounded ">
                                 Software
                            </span>
                            <span class="rounded-xl  bg-green-100 text-sm  text-green-800 p-2 rounded ">
                              Developpement
                         </span>
                            <span type="button" class="rounded-xl text-sm bg-green-100 text-green-800 p-2 rounded ">
                              Freelance
                         </span>
                         <span type="button" class="rounded-xl mt-2 text-sm bg-green-100 text-green-800 p-2 rounded ">
                           Freelance
                      </span>
                      <span type="button" class="rounded-xl mt-2 text-sm bg-green-100 text-green-800 p-2 rounded ">
                        Freelance
                   </span>
                   <span type="button" class="rounded-xl mt-2 text-sm bg-green-100 text-green-800 p-2 rounded ">
                     Freelance
                </span>
                
                      
                      
                             </div>
                            
                             
                             
                            </div>
                            
                                <div class="w-full md:w-2/4 flex items-end">
                                          <img class="mx-auto h-56" src="assets/images/vert (3).svg" alt="">                                  </div>
                                 </div>
                    </div>
                                  
                </div>
            </div>
      </div>
      <div class="flex-initial w-2/4 ...">
         <div class="stats w-64 shadow ml-12 mt-1  mb-5">
            <div class="stat bg-blue-100 hover:bg-blue-300">
                <div class="stat-figure  text-blue-400">
                   <mat-icon>work_outline</mat-icon>
                </div>
                  <div class="stat-title text-blue-800">Total Jobs</div>
                  <div class="stat-value text-blue-400">5</div>
                  <div class="stat-desc">21% more than last month</div>
            </div> 
    </div>     
    <div class="stats w-64 shadow mb-5 ml-12">  
        <div class="stat bg-purple-100 hover:bg-purple-300">
            <div class="stat-figure text-purple-400">
             <mat-icon>turned_in_not</mat-icon>
          </div>
              <div class="stat-title text-purple-800">favourites Jobs</div>
              <div class="stat-value text-purple-400">25</div>
              <div class="stat-desc">21% more than last month</div>
        </div>
    </div>
    <div class="stats w-64 shadow mb-5 ml-12">
    <div class="stat  bg-yellow-100 hover:bg-yellow-300">
            <div class="stat-figure text-yellow-400">
             <mat-icon> transfer_within_a_station</mat-icon>
    
          </div>
              <div class="stat-title text-yellow-800">Clients</div>
              <div class="stat-value text-yellow-400">15</div>
              <div class="stat-desc">21% more than last month</div>
        </div> 
    </div>
    <div class="stats w-64 shadow mb-5 ml-12">    
        <div class="stat  bg-green-100 hover:bg-green-300">
            <div class="stat-figure text-green-400">
             <mat-icon>euro_symbol</mat-icon>
              </div>
              <div class="stat-title  text-green-800">Earning</div>
              <div class="stat-value text-green-400">15</div>
              <div class="stat-desc">21% more than last month</div>
        </div>  
    </div>
      </div>
    
    </div>


    <div class="flex">
   
      <div class="flex-initial w-4/6 ...">
         
         <!-- resume table -->              
     <div class="flex flex-wrap">
      <div class="w-full xl:w-4/4 px-4">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg  bg-base-200 text-blueGray-700">
                  <div class="px-6 py-4 border-0">
                      <div class="flex flex-wrap items-center">
                          <div class="relative w-full max-w-full flex-grow flex-1">
                             <h3 class="font-bold text-lg text-blueGray-700 ">My Jobs Resume:</h3>
                             
                          </div>
                          <div class="card-actions justify-end py-2 pr-2">

                            <button routerLink="/Dashboard/MyJobs" class="bg-orange-100 hover:bg-orange-200 text-gray-800 font-bold py-2 px-4 rounded-xl inline-flex items-center">
                              <span class="mb-1">Explore more</span>  <mat-icon class="icon">arrow_right_alt</mat-icon>          
                            </button>
                         </div>
                       </div>                                
                  </div>                           
                  <div class="block w-full overflow-x-auto">
                      <table class="items-center w-full bg-white border-collapse">
                         <thead>
                            <tr class="bg-blue-100">
                               <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Title</th>
                               <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Client</th>
                               <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Category</th>
                               <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Deadline</th>
                               <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Statut</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center"><span class=" font-bold NaN">Angular Project</span></div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">GOOGLE</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">Remote Job</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">21/12/2024</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                                  <div class="flex items-center">
                                     <span class="mr-2">60%</span>
                                     <div class="relative w-full">
                                        <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                           <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500" style="width: 60%;"></div>
                                        </div>
                                     </div>
                                  </div>
                               </td>
                            </tr>
                            <tr>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center"><span class="font-bold NaN">Marketing digital</span></div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">TunisiaNet</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">Freelance</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">21/08/2021</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                                  <div class="flex items-center">
                                     <span class="mr-2">70%</span>
                                     <div class="relative w-full">
                                        <div class="overflow-hidden h-2 text-xs flex rounded bg-emerald-200">
                                           <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-emerald-500" style="width: 70%;"></div>
                                        </div>
                                     </div>
                                  </div>
                               </td>
                            </tr>

                            <tr>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center"><span class="font-bold NaN">Mobile App</span></div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">Telnet</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">Fulltime</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                  <div class="flex items-center">noLimit</div>
                               </td>
                               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                                  <div class="flex items-center">
                                     <span class="mr-2">80%</span>
                                     <div class="relative w-full">
                                        <div class="overflow-hidden h-2 text-xs flex rounded bg-indigo-200">
                                           <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500" style="width: 80%;"></div>
                                        </div>
                                     </div>
                                  </div>
                               </td>
                            </tr>
                          
                         </tbody>
                      </table>
                   </div>                             
          </div>
      </div>
      <!-- pie chart -->
                                  
      </div> 
     
      </div>
      <div class="flex-initial w-2/6 ...">
         <div class="max-w-sm flex flex-col rounded-lg ml-10  overflow-hidden bg-white shadow my-2">
            <div class="flex flex flex-wrap p-4">
               <div>
                <h1 class="text-xl font-bold tracking-tight text-gray-900">Latest offers:</h1>
                <small class="font-medium text-xs text-gray-500 flex justify-start" ><fa-icon ></fa-icon>with brief details.</small> 
                
              </div>  
              <div class="card-actions justify-end py-2 pr-2 ml-16">
      
               <button routerLink="/Dashboard/FindJob" class="bg-orange-100 hover:bg-orange-200 text-gray-800 font-bold py-2 px-4 rounded-xl inline-flex items-center">
                 <span class="mb-1">Find more</span>  <mat-icon class="icon">arrow_right_alt</mat-icon>          
               </button>
            </div>
            </div>
            
      
            <hr>     
            <div class=" py-4">
               <div class="flex   gap-x-1">
                  <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                     <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-5.png"  alt="">
                  </button> 
                  
                  <div>
                     <span class="text-sm font-semibold mb-7">DevOps Engineer</span>
                     <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Computer science</span>
                     <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Fulltime</small> 
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>1 day ago</small>              
                      </div>             
                  </div>    
                </div>         
            </div>
            <hr>
            <div class=" py-4">
               <div class="flex   gap-x-1">
                  <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                     <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-7.png"  alt="">
                  </button> 
                  
                  <div>
                     <span class="text-sm font-semibold mb-7">Product Manage</span>
                     <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Marketing</span>
                     <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Remote</small> 
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>2 weeks ago</small>              
                      </div>             
                  </div>    
                </div>         
            </div>
            <hr>
            <div class=" py-4">
               <div class="flex  flew-wrap  gap-x-1">
                  <button class="inline-flex items-center justify-center w-12 h-12 ml-2  text-blue-100  rounded-full">
                     <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-1.png"  alt="">
                  </button> 
                  
                  <div>
                     <span class="text-sm font-semibold mb-7">UI / UX Designer fulltime</span>
                     <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Web Developpement</span>
                     <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> freelance</small> 
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>56min ago</small>              
                      </div>             
                  </div>    
                </div>         
            </div>
            
            <hr>     
            <div class=" py-4">
               <div class="flex   gap-x-1">
                  <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                     <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-5.png"  alt="">
                  </button> 
                  
                  <div>
                     <span class="text-sm font-semibold mb-7">DevOps Engineer</span>
                     <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Computer science</span>
                     <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Fulltime</small> 
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>1 day ago</small>              
                      </div>             
                  </div>    
                </div>         
            </div>
            <hr>
            <div class=" py-4">
               <div class="flex   gap-x-1">
                  <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                     <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-7.png"  alt="">
                  </button> 
                  
                  <div>
                     <span class="text-sm font-semibold mb-7">Product Manage</span>
                     <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Marketing</span>
                     <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Remote</small> 
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>2 weeks ago</small>              
                      </div>             
                  </div>    
                </div>         
            </div>
            <hr>
            <div class=" py-4">
               <div class="flex  flew-wrap  gap-x-1">
                  <button class="inline-flex items-center justify-center w-12 h-12 ml-2  text-blue-100  rounded-full">
                     <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-1.png"  alt="">
                  </button> 
                  
                  <div>
                     <span class="text-sm font-semibold mb-7">UI / UX Designer fulltime</span>
                     <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Web Developpement</span>
                     <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> freelance</small> 
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                        <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>56min ago</small>              
                      </div>             
                  </div>    
                </div>         
            </div>
            <hr>
           
          </div>
        
      </div>
    </div>

  




















          
          
          
          
      
    