

<div class="card card-compact w-80 bg-base-100 py-5">
    <figure><img src="assets/images/Sans titre (9).svg" alt="Shoes" /></figure>
  </div>

 <div class="carousel pl-1 pr-3">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item">
                <div class="flex w-full gap-4">
                 
                   
                    <div class="grid w-1/4 flex-grow card shadow-md bg-base-300 rounded-box place-items-center">  
                    <div class="min-w-48 item-center mt-2 min-h-48 p-3 mb-4 font-medium">
                            <h1 class="py-1 text-lg font-bold text-blue-900">Your next deadline</h1>
                            <small class="pb-1 text-lg font-sm pl-12 text-blue-900"> To do</small>
                            <div class="w-32 flex-none rounded-t lg:rounded-t-none lg:rounded-l text-center shadow-lg ">
                             
                              <div class="block rounded-t overflow-hidden  text-center ">
                                <div class="bg-blue-300 text-white py-1">
                                  March
                                </div>
                                <div class="pt-1 border-l border-r border-white bg-white">
                                  <span class="text-5xl font-bold leading-tight">
                                    17
                                  </span>
                                </div>
                                <div class="border-l border-r border-b rounded-b-lg text-center border-white bg-white -pt-2 -mb-1">
                                  <span class="text-sm">
                                    Sunday
                                  </span>
                                </div>
                                <div class="pb-2 border-l border-r border-b rounded-b-lg text-center border-white bg-white">
                                  <span class="text-xs leading-normal text-red-300">
                                   Project angular title
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="flex w-full gap-4">
                 
                   
                    <div class="grid w-1/4 flex-grow card  bg-blue-100 rounded-box place-items-center">  
                    <div class="min-w-48 item-center mt-2 min-h-48 p-3 mb-4 font-medium">
                            <h1 class="py-1 text-lg font-bold">Your next deadline</h1>
                            <div class="w-32 flex-none rounded-t lg:rounded-t-none lg:rounded-l text-center shadow-lg ">
                             
                              <div class="block rounded-t overflow-hidden  text-center ">
                                <div class="bg-blue-300 text-white py-1">
                                  March
                                </div>
                                <div class="pt-1 border-l border-r border-white bg-white">
                                  <span class="text-5xl font-bold leading-tight">
                                    23
                                  </span>
                                </div>
                                <div class="border-l border-r border-b rounded-b-lg text-center border-white bg-white -pt-2 -mb-1">
                                  <span class="text-sm">
                                    Sunday
                                  </span>
                                </div>
                                <div class="pb-2 border-l border-r border-b rounded-b-lg text-center border-white bg-white">
                                  <span class="text-xs leading-normal text-red-300">
                                   Project angular title
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="flex w-full gap-4">
                 
                   
                    <div class="grid w-1/4 flex-grow card bg-blue-100 rounded-box place-items-center">  
                    <div class="min-w-48 item-center mt-2 min-h-48 p-3 mb-4 font-medium">
                            <h1 class="py-1 text-lg font-bold">Your next deadline</h1>
                            <div class="w-32 flex-none rounded-t lg:rounded-t-none lg:rounded-l text-center shadow-lg ">
                             
                              <div class="block rounded-t overflow-hidden  text-center ">
                                <div class="bg-blue-300 text-white py-1">
                                  March
                                </div>
                                <div class="pt-1 border-l border-r border-white bg-white">
                                  <span class="text-5xl font-bold leading-tight">
                                    30
                                  </span>
                                </div>
                                <div class="border-l border-r border-b rounded-b-lg text-center border-white bg-white -pt-2 -mb-1">
                                  <span class="text-sm">
                                    Sunday
                                  </span>
                                </div>
                                <div class="pb-2 border-l border-r border-b rounded-b-lg text-center border-white bg-white">
                                  <span class="text-xs leading-normal text-red-300">
                                   Project angular title
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
            <label for="carousel-3" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators pt-10">
                <li>
                    <label for="carousel-1" class="carousel-bullet ">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
</div>

  


