<p class="text-xs mt-2 mb-2 text-[#002D74]">Complete your registration with more informations!</p>
<form action="" class="flex flex-col gap-6">
  <div class="grid grid-cols-6 gap-6 mb-5">
    <div class="col-span-6 sm:col-span-3">
      <label for="country" class="block mb-2 text-sm font-bold text-gray-700">Country:</label>
      <select id="country" name="country" autocomplete="country-name" class="mt-1 p-2 block w-full rounded-md border-2  border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        <option class="border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">United States</option>
        <option>Canada</option>
        <option>Mexico</option>
      </select>
    </div>
  <div class="col-span-6 sm:col-span-3">
      <label  class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
          Street address:
      </label>
      <input type="text" name="street-address" id="street-address" autocomplete="street-address"  placeholder="street-address" class="mt-1   p-2 py-2 block w-full border-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
  </div>
   
  <div class="col-span-6 sm:col-span-6 lg:col-span-3">
    <label for="city" class="block mb-2 text-sm font-bold text-gray-700">City:</label>
    <input type="text" name="city" id="city" autocomplete="address-level2"  placeholder="city"class="mt-1 block  p-2 w-full rounded-md border-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
  </div>

  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <label for="region"  class="block mb-2 text-sm font-bold text-gray-700">State / Province:</label>
    <input type="text" name="region" id="region" autocomplete="address-level1"  placeholder="state" class="mt-1  p-2 block w-full rounded-md border-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    
                      
    <label  class="block mb-2 text-sm font-bold text-gray-700">Photo:</label>
    <div class=" flex items-center bg-blue-50 rounded-lg">
      <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100 ">
        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
      </span>
      <button type="button" class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-lg leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Change</button>
    </div>
  
</div>  
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <label for="postal-code"  class="block mb-2 text-sm font-bold text-gray-700">ZIP / Postal code:</label>
    <input type="text"  name="postal-code" id="postal-code" autocomplete="postal-code"  placeholder="zip code"  class="mt-1  p-2 block w-full rounded-md border-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
  </div>
 
  </div>
  <div class="grid grid-cols-3 gap-6 ">
    <div class="col-span-3 sm:col-span-3">
      <label for="company-website" class="block mb-2 text-sm font-bold text-gray-700">Website:</label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">http://</span>
        <input type="text" name="company-website" id="company-website" class="block p-2 border-2 w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="www.example.com">
      </div>
    </div>
  </div>
  <div class="mb-5">
    <label for="about" class="block mb-2 text-sm font-bold text-gray-700 pt-2">About:</label>
    <div class="">
      <textarea id="about" name="about" rows="3" class=" block w-full p-2 border-2  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="brief resume about yourself"></textarea>
    </div>
    <p class="mt-2 text-sm text-gray-500">Brief description for your profile. URLs are hyperlinked.</p>
  </div>
  <button class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300"   routerLink="/Register/Informations">Register now</button>
  <div class="mt-3 text-xs flex justify-between items-center text-[#002D74]">
    <p>You want to return?</p>
    <button routerLink="/Register" class="py-2 px-5 bg-red-100 text-red-400 border rounded-xl hover:scale-110 duration-300">Return</button>
  </div>
</form>
  
