<div  class=" flex flex-col gap-6 mt-2  ">
  
  
    <div class="flex-1 flex flex-col sm:flex-row gap-x-4 ">
      <main class="flex-1  rounded-lg bg-white ">
        <div class="container pt-6">
          <header class="flex flex-wrap ">
            <div class="w-2/5 h-12 mb-3 text-start ml-3">
              <h1 class="text-xl text-start font-bold hover:underline cursor-pointer ml-2">UI / UX Designer fulltime</h1>    
              <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-7"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Finance</span>
            </div>
            
            <div class="card-actions justify-end py-2 pr-2 ml-60">
              
              <button routerLink="/Dashboard/FindJob" class="bg-orange-100 hover:bg-orange-200 text-gray-800 font-bold py-2 px-4 rounded-xl inline-flex items-center">
                <mat-icon class="icon">turned_in_not</mat-icon>  <span class="p-1" >Save</span>           
              </button>
              <button routerLink="/Dashboard/FindJob" class="bg-green-100 hover:bg-green-200 text-gray-800 font-bold py-2 px-4 rounded-xl inline-flex items-center">
                <span class="mb-1 px-1 pt-1">Apply</span>  <mat-icon class="icon">arrow_right_alt</mat-icon>          
              </button>
           </div>
          
        </header>
        
          <h3 class="text-start max-w-lg text-md font-semibold leading-loose text-gray-700 dark:text-white py-2 pl-3 ml-2"> <strong class="small-heading">Description:</strong></h3>
          <p class="text-left text-sm  text-gray-900 text-gray-800 dark:text-gray-400 pl-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, facilis aliquid alias recusandae repudiandae nisi reprehenderit nobis magnam! Laboriosam doloribus, non eius quia porro quaerat. Magnam neque incidunt optio numquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem quasi consequatur quisquam, natus ipsam aperiam minus beatae esse, distinctio possimus error ducimus et, quod id! Blanditiis facilis minima recusandae?</p>
        </div>
      
        
        <div class="flex flex flex-wrap p-4 ">
          <div>
           <h3><strong class="small-heading text-gray-700 ml-1">Overview:</strong></h3>
           
          </div> 
           
        </div>
        
        <hr>
        <hr>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <tbody>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                        <span class="text-description"><fa-icon [icon]="faBriefcase" class=" pl-3 pr-1"></fa-icon>Industry</span>
                      </th>
                      <td class="px-6 py-4 text-gray-900">
                     Mechanical / Auto 
  
                      </td>
                      <td class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                        <span class="text-description"> <fa-icon [icon]="faUserTie" class=" pl-3 pr-1"></fa-icon> Job level</span>
                      </td>
                      <td class="px-6 py-4 text-gray-900">
                          Experienced
                      </td>
                  </tr>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                        <span class="text-description">
                          <fa-icon [icon]="faMoneyBill" class=" pl-3 pr-1"></fa-icon>
                          Salary</span>
                      </th>
                      <td class="px-6 py-4 text-gray-900">
                        $800 - $1000
                      </td>
                      <td class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                        <span class="text-description"><fa-icon [icon]="faStar" class=" pl-3 pr-1"></fa-icon>Experience</span>
                      </td>
                      <td class="px-6 py-4 text-gray-900">
                        1 - 2 years
                      </td>
                 </tr>
                 <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                    <span class="text-description">
                      <fa-icon [icon]="faPen" class=" pl-3 pr-1"></fa-icon>
            Job type</span>
                  </th>
                  <td class="px-6 py-4 text-gray-900">
                    Permanent
                  </td>
                  <td class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                    <span class="text-description"><fa-icon [icon]="faTimeline" class=" pl-3 pr-1"></fa-icon>Deadline</span>
                  </td>
                  <td class="px-6 py-4 text-gray-900">
                    10/08/2022
                  </td>
             </tr>
             <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                <span class="text-description"> <fa-icon [icon]="faRotate" class=" pl-3 pr-1"></fa-icon>
                  Updated</span>
              </th>
              <td class="px-6 py-4 text-gray-900">
                10/07/2022
              </td>
              <td class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap dark:text-white">
                <span class="text-description"><fa-icon [icon]="faLocationDot" class=" pl-3 pr-1"></fa-icon>Location</span>
              </td>
              <td class="px-6 py-4 text-gray-900">
                Dallas, Texas Remote Friendly
              </td>
         </tr>
              </tbody>
          </table>
      </div>   
      <hr>
     
      <div class="container py-6">
        <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-bold text-gray-700">Attachments:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
              <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="flex w-0 flex-1 items-center">
                  <!-- Heroicon name: mini/paper-clip -->
                  <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 w-0 flex-1 truncate">resume_back_end_developer.pdf</span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                </div>
              </li>
              <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="flex w-0 flex-1 items-center">
                  <!-- Heroicon name: mini/paper-clip -->
                  <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 w-0 flex-1 truncate">coverletter_back_end_developer.pdf</span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                </div>
              </li>
            </ul>
          </dd>
        </div>
      </div>
      <div class="container ">
        <h3><strong class="small-heading text-gray-700 ml-6 py-5">Tags:</strong></h3>
        
        <div class='px-2  mb-3 flex flex-wrap rounded-lg  dark:bg-gray-400'>
          <span
            class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
            Angular
          </span>
          <span
          class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
          React
        </span>
        <span
            class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
            Marketing
          </span>
          <span
            class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
            Finance
          </span>
          <span
            class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
            Web
          </span>
          <span
            class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
            Mobile
          </span>
          <span
            class="text-gray-100 flex flex-wrap pl-4 pr-4 py-2 m-1 justify-between items-center text-sm font-medium rounded-xl cursor-pointer bg-teal-500  hover:bg-teal-500 hover:text-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-100">
            Freelance
          </span>
        </div>    </div>
 
      </main>
  
      
  
      <aside class="sm:w-96 bg-white rounded-lg shadow-md p-4 mr-1">
  <!-- first right sidebar  card-->
        <div class="max-w-sm flex flex-col rounded-lg overflow-hidden bg-white shadow">
          <div class=" py-4">
            <div class="flex   gap-x-1">
               <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                  <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-5.png"  alt="">
               </button> 
               
               <div>
                  <span class="text-xl font-bold mb-7 ml-3 ">Tunisia Net</span>
                  <div class="flex flex-wrap  ">
                     <small class="font-medium text-md text-gray-500 flex justify-start text-slate-400 pr-5 "  ><fa-icon [icon]="faLocationDot" class=" pl-3 pr-1"></fa-icon>New York, US.</small> 
            
                   </div>             
               </div>    
             </div>         
         </div>
          <hr>
          <div class=" py-2">
            <div class="gmap_canvas "><iframe width="370" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=california&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:300px;width:370px;}</style><a href="https://embedgooglemap.2yu.co">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:370px;}</style></div>
  
          </div>
          <div class="px-2 ">
           <p class="text-xs font-medium text-start pt-2 pb-2"><fa-icon [icon]="faLocationDot"></fa-icon> 205 North Michigan Avenue, Suite 810 Chicago, 60601, USA</p>
            <p class="text-xs  font-medium text-start pb-2"><fa-icon [icon]="faPhone"></fa-icon> Phone: (123) 456-7890</p>
            <p class="text-xs font-medium text-start pb-2"> <fa-icon [icon]="faMailBulk"></fa-icon> Email: contact@Evara.com</p>
            
          </div>
        
        </div>
  
  
  
        <div class="max-w-sm flex flex-col rounded-lg overflow-hidden bg-white shadow my-2">
          <div class="flex flex flex-wrap p-4">
            <div>
              <h5 class="text-xl font-bold tracking-tight text-gray-900 mr-1">Related Offers:</h5>
              <small class="font-medium text-xs text-gray-500 flex justify-start" ><fa-icon ></fa-icon>with brief details.</small> 
            </div>  
          </div>
          <hr>
        
          <div class=" py-4 gap-x-2">
            <div class="flex   gap-x-1">
               <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                  <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-5.png"  alt="">
               </button> 
               
               <div>
                  <span class="text-sm font-semibold mb-7">DevOps Engineer</span>
                  <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Computer science</span>
                  <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                     <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Fulltime</small> 
                     <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                     <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>1 day ago</small>              
                   </div>             
               </div>    
             </div>         
         </div>
          <hr>
          <div class=" py-4">
            <div class="flex   gap-x-1">
               <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
                  <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-7.png"  alt="">
               </button> 
               
               <div>
                  <span class="text-sm font-semibold mb-7">Product Manage</span>
                  <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Marketing</span>
                  <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                     <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Remote</small> 
                     <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                     <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>2 weeks ago</small>              
                   </div>             
               </div>    
             </div>         
         </div>
         <hr>
         <div class=" py-4">
          <div class="flex  flew-wrap  gap-x-1">
             <button class="inline-flex items-center justify-center w-12 h-12 ml-2  text-blue-100  rounded-full">
                <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-1.png"  alt="">
             </button> 
             
             <div>
                <span class="text-sm font-semibold mb-7">UI / UX Designer fulltime</span>
                <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Web Developpement</span>
                <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                   <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> freelance</small> 
                   <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                   <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>56min ago</small>              
                 </div>             
             </div>    
           </div>         
       </div>
       <hr>
        
       <div class=" py-4 gap-x-2">
         <div class="flex   gap-x-1">
            <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
               <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-5.png"  alt="">
            </button> 
            
            <div>
               <span class="text-sm font-semibold mb-7">DevOps Engineer</span>
               <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Computer science</span>
               <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                  <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Fulltime</small> 
                  <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                  <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>1 day ago</small>              
                </div>             
            </div>    
          </div>         
      </div>
       <hr>
       <div class=" py-4">
         <div class="flex   gap-x-1">
            <button class="inline-flex items-center justify-center w-12 h-12 ml-2 text-blue-100  rounded-full">
               <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-7.png"  alt="">
            </button> 
            
            <div>
               <span class="text-sm font-semibold mb-7">Product Manage</span>
               <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Marketing</span>
               <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                  <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> Remote</small> 
                  <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                  <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>2 weeks ago</small>              
                </div>             
            </div>    
          </div>         
      </div>
      <hr>
      <div class=" py-4">
       <div class="flex  flew-wrap  gap-x-1">
          <button class="inline-flex items-center justify-center w-12 h-12 ml-2  text-blue-100  rounded-full">
             <img src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-1.png"  alt="">
          </button> 
          
          <div>
             <span class="text-sm font-semibold mb-7">UI / UX Designer fulltime</span>
             <span class="bg-indigo-600/5 text-teal-700 text-xs text-center font-bold rounded h-5 ml-2"> <fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon>Web Developpement</span>
             <div class="flex flex-wrap gap-x-1 gap-y-1 ">
                <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 "  ><fa-icon [icon]="faBriefcase" class="pr-1"></fa-icon> freelance</small> 
                <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400 ">$950 - $1100/mo</small>      
                <small class="font-medium text-xs text-gray-500 flex justify-start text-slate-400" >  <fa-icon [icon]="faClock" class=" pr-1"></fa-icon>56min ago</small>              
              </div>             
          </div>    
        </div>         
    </div>
        </div>
       
      </aside>
    </div>
  </div>
